.tweet { 
	border-radius: 35%;
	padding: 50px;
	margin: auto;
	background-color: rgb(39,139,210);
	max-width: 500px;
	max-height: 500px;
	transition: transform 2s, background-color 2s;
	text-align: center;
}
.tweet:hover {
	transform:scale(1.2,1.2);
	background-color: rgba(39,139,210, 0.2);
}
textarea {
	resize: none;
}