<!DOCTYPE html>
<html>
  <head>
    <title>FnapChat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
	<p>Home</p>
	<a href='/new'>
	<button>New Snap</button>
	</a>
  <body>
  </body>
</html>