<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='css/400.css'>
</head>

<body>
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <div class='c'>
    <div class='_404'>400</div>
    <hr>
    <div class='_1'>OOPS! </div>
    <br>
    <hr>
    <div class='_2'>IT LOOKS LIKE YOU DIDNT</div>
    <div class='_2'>PROPERLY INPUT THE
      <%=@error %>
    </div>
    <br>
    <hr>
    <div class='_1'>PLEASE TRY AGAIN</div>
  </div>
  <meta http-equiv="refresh" content="5;<%=@link%>" />
</body>

</html>