<!DOCTYPE html>
<html>
	<head>
		<title>Send Snapchat</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrap.com/bootstrap/3.2.0/css/bootstrap.min.css">

	</head>

	<body>
		<h1>Sending a Snap</h1>

		<form> </form>
	</body>
</html>