<!DOCTYPE html>
<html>
  <head>
    <title>Day 1 Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrap.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  
  <body>
    <h1>Heller</h1>
    <% @tweets.each do |tweet|%>
    <%= tweet.username %>: <%= tweet.content %><br>
    <% end %>
  </body>
</html>